/**
 * A gray color variable.
 *
 * @color
 * @section Global
 */
$gray: #868686;

/**
 * A grayish-blue color variable.
 *
 * @color
 * @section Global
 */
 
$grayish-blue: #a2bacc;
/**
 * A blue-gray color variable.
 *
 * @color
 * @section Global
 */
$blue-gray: #315e83;
/**
 * A lime-green color variable.
 *
 * @color
 * @section Global
 */
$lime-green: #aff2d6;
/**
 * A soft-cyan color variable.
 *
 * @color
 * @section Global
 */
$soft-cyan: #46e3c5;
/**
 * A dark-cyan color variable.
 *
 * @color
 * @section Global
 */
$dark-cyan: #26A69A;
/**
 * A soft-red color variable.
 *
 * @color
 * @section Global
 */
$soft-red: #ee6e73;
/**
 * A dark-orange color variable.
 *
 * @color
 * @section Global
 */
$dark-orange: #e65100;

/**
 * A dark-soft-blue color variable.
 *
 * @color
 * @section Global
 */
$dark-blue: #01579b;